.article-heading {
    margin-bottom: 5%;
}


.main h2 {
  margin-bottom: 3%;
}

.article-link {
  color: darkgray;
}

.article-img {
  width: 100%;
  height: auto;
  margin-bottom: 5%;
}

@media only screen and (min-width: 678px) {
  .article-heading {
      font-size: 1.5em;
  }
  .main {
    width: 65%;
  }
}