.article__header {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.article__img {
  width: 80vw;
}

.article__body {
  margin: 2rem auto;
  width: 60vw;
}

.article__code {
  background-color: #EAEAED;
  padding-top: 1rem;
  margin: 1rem;
}
