h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lora', serif;
}

h1 {
  text-align: center;
}

body {
  font-family: 'Merriweather', serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

button {
  padding: 0.5em 2em;
  border-radius: 5px;
  border: 0.5px solid black;
  margin: 1em;
  font-size: 1.5rem;
  transition: all .2s;
}

  
.btn-hover:hover {
  transform: translateY(-3px);
}



/* FOOTER */

footer {
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: #0a2239;
  color: white;
}

footer a {
  color: white;
}

footer a:hover {
  color: #1d84b5;
  text-decoration: underline;
}


@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  80% {
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
