.frontend-heading {
    background: -webkit-linear-gradient(rgba(34, 58, 80, 1), rgba(12, 35, 55, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3rem;
    padding: 1rem;
  
  }
  
  .card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 4rem;
    grid-gap: 2rem;
  }
  
  .card-container h2 {
    text-align: center;
  }
  
  .card-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
    background: rgb(34, 58, 80);
    background: linear-gradient(
      249deg,
      rgba(34, 58, 80, 1) 43%,
      rgba(12, 35, 55, 1) 100%
    );
    color: white;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s 0.2s;
  }
  
  .card-item:hover {
    transform: translateY(-1rem);
  }
  
  .card-img {
    height: 35%;
    width: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
    transition: transform 0.5s;
  }
  
  .card-img:hover {
    transform: scale(1.2);
  }
  
  .card-icon {
    width: 70px;
  }
  
  .website-link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 100%;
    height: 2rem;
  }
  
  .website-link:hover {
    background-color: white;
    color: #0a2239;
    
  }
  
  .btn-frontend {
    display: flex;
    margin: 0 auto;
    background-color: rgb(34, 58, 80);
    color: white;
    margin-bottom: 2rem;
  }
  
  @media only screen and (max-width: 768px) {
    .card-container {
      grid-template-columns: auto auto;
      margin: 2rem;
      grid-gap: 2rem;
  
    }
  
    .card-img {
      height: 30%;
    }
  }
  
  @media only screen and (max-width: 550px) {
    .card-container {
      grid-template-columns: auto;
      margin: 2rem;
      grid-gap: 2rem;
  
    }
  
    .card-img {
      height: 20%;
    }
  }
  