h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lora', serif;
}

h1 {
    text-align: center;
    margin-bottom: 1.5em;
}

body {
  font-family: 'Merriweather', serif;
  margin: 0;
  padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

button {
    padding: 0.5em 2em;
    border-radius: 5px;
    border: 0.5px solid black;
    margin: 2em;
    font-size: 1.5rem;
}

.container {
  position: relative;

}

.header-image {
  width: 100%;
}

.header-text {
  position: absolute;
  color: white;
  bottom: 10%;
  left: 10%;
  z-index: 99;
  font-size: 1.5rem;
}

.header-text h1 {
    animation: moveInLeft 1s ease-out;
}

.header-text h3 {
    animation: moveInRight 1s ease-out;
}

@media only screen and (max-width: 1000px) {
  .header-text {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 700px) {
  .header-text {
    font-size: 0.75rem;
  }
}

@media only screen and (max-width: 500px) {
  .header-text {
    font-size: 0.6rem;
  }
}

/* CURRENT */

.current {
    margin: 0 auto;
    padding: 2em;
    min-height: 5em;
    max-width: 100%;
    
   
}

.gap {
    margin-right: 50px;
}

.slider {
    
    transition: transform .2s;
}

.slider:hover {
    transform: scale(1.2);
}


/* PORTFOLIO */

.portfolio {

    margin: 0 auto;
    
}

.portfolio h2 {
    text-align: center;
}

.portfolio p {
    width: 50%;
    margin: 0 auto;
  
}
.portfolio img {
    width: 75%;
    text-align: center;
    margin: 5em auto 0;
}


.portfolio-container {
    text-align: center;
    padding-bottom: 3em;
}

.portfolio-content{
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
}

#portfolio-1 {
    background-color: #B8336A;
    color: white;
}

#portfolio-2 {
    background-color: #F3EEC3;
}

#portfolio-3 {
    background-color: #293241;
    color: white;
}

#portfolio-4 {
    background-color: #BFFFBC;
}

#button-1 {
    background-color: #9f4c6f;
}
#button-1:hover {
    background-color: #865b6d;
}

#button-2 {
    background-color: #dad184;
}

#button-2:hover {
    background-color: #c1b54e;
}

#button-3 {
    background-color: #273a5a;
}

#button-3:hover {
    background-color: #495974;
}

#button-4 {
    background-color: #81e67c;
}

#button-4:hover {
    background-color: #4ccc45;
}


/* CONTACT SECTION */

.contact {
    text-align: center;
    padding: 2em 0;
}

.message-me {
    background-color: #1D84B5;
    color: white;
}

.message-me:hover {
    background-color: #176087;
    color: white;
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0,0,0,.2);
}

.message-me:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
  }

/* FOOTER */

footer {
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: #0A2239;
    color: white;
}

footer a {
    color: white;
}

footer a:hover {
    color: #1D84B5;
}



/* BUCKET LIST PAGE */

.header-image {
  margin-top: 2em;
}

.header-container {
    width: 75%;
    margin: 0 auto;
}

.bucket-main {
    width: 50%;
    margin: 1em auto;
    padding: 1em;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

}

.bucket-main li {
    margin-bottom: 1em;
}

.bucket-main ol {
    margin: 3em 0;
}

@keyframes moveInLeft {
    0% {
      opacity: 0;
      transform: translateX(-100px);
    }
  
    80% {
      transform: translateX(10px);
    }
  
  
    100% {
      opacity: 1;
      transform: translate(0);
    }
  }
  
  @keyframes moveInRight {
    0% {
      opacity: 0;
      transform: translateX(100px);
    }
  
    80% {
      transform: translateX(-10px);
    }
  
  
    100% {
      opacity: 1;
      transform: translate(0);
    }
  }

