h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lora', serif;
}

h1 {
  text-align: center;
}

body {
  font-family: 'Merriweather', serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

button {
  padding: 0.5em 2em;
  border-radius: 5px;
  border: 0.5px solid black;
  margin: 2em;
  font-size: 1.5rem;
  transition: all .2s;
}

.container {
  position: relative;
  background-color: #cc7d49;
}

.header-image {
  width: 100%;
}

.header-text {
  position: absolute;
  color: white;
  bottom: 10%;
  left: 10%;
  z-index: 99;
  font-size: 1.5rem;
}

.header-text h1 {
  animation: moveInLeft 1s ease-out;
}

.header-text h3 {
  animation: moveInRight 1s ease-out;
}

@media only screen and (max-width: 1000px) {
  .header-text {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 700px) {
  .header-text {
    font-size: 0.75rem;
  }
}

@media only screen and (max-width: 500px) {
  .header-text {
    font-size: 0.6rem;
  }
}

/* CURRENT */

.current {
  margin: 0 auto;
  padding: 2em;
  min-height: 5em;
  width: 100vw;
}

.gap {
  margin-right: 50px;
}

.slider {
  transition: transform 0.2s;
}

.slider:hover {
  transform: scale(1.2);
}

/* PORTFOLIO */

.portfolio {
  margin: 0 auto;
}

.portfolio h2 {
  text-align: center;
}

.portfolio p {
  width: 50%;
  margin: 0 auto;
}
.portfolio img {
  width: 75%;
  text-align: center;
  margin: 5em auto 0;
}

.portfolio-container {
  text-align: center;
  padding-bottom: 3em;
}

.portfolio-content {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
}

#frontend {
  background-color: #cc7d49;
}
#button-frontend {
  background-color: #e6a980;
}
#button-frontend:hover {
  background-color: #ffdac1;
}

#ted {
  background-color: #b8336a;
  color: white;
}
#button-ted {
  background-color: #9f4c6f;
}
#button-ted:hover {
  background-color: #865b6d;
}

#flourishing-media {
  background-color: #f3eec3;
}
#button-flourishing-media {
  background-color: #dad184;
}

#button-flourishing-media:hover {
  background-color: #c1b54e;
}

#dog-groomers {
  background-color: #293241;
  color: white;
}
#button-dog-groomers {
  background-color: #273a5a;
  color: white;
}

#button-dog-groomers:hover {
  background-color: #495974;
}

#punk {
  background-color: #bfffbc;
}
#button-punk {
  background-color: #81e67c;
}

#button-punk:hover {
  background-color: #4ccc45;
}

/* CONTACT SECTION */

.contact {
  text-align: center;
  padding: 2em 0;
}

.message-me {
  background-color: #1d84b5;
  color: white;
}

.message-me:hover {
  background-color: #176087;
  color: white;
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.message-me:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-hover:hover {
  transform: translateY(-3px);
}

/* FOOTER */

footer {
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: #0a2239;
  color: white;
}

footer a {
  color: white;
}

footer a:hover {
  color: #1d84b5;
}

/* BUCKET LIST PAGE */

.header-container {
  width: 75%;
  margin: 0 auto;
}

.bucket-main {
  width: 50%;
  margin: 1em auto;
  padding: 1em;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.bucket-main li {
  margin-bottom: 1em;
}

.bucket-main ol {
  margin: 3em 0;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  80% {
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

/* FRONTEND MENTOR */

.frontend-heading {
  background: -webkit-linear-gradient(rgba(34, 58, 80, 1), rgba(12, 35, 55, 1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3rem;
  padding: 1rem;

}

.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 4rem;
  grid-gap: 2rem;
}

.card-container h2 {
  text-align: center;
}

.card-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
  background: rgb(34, 58, 80);
  background: linear-gradient(
    249deg,
    rgba(34, 58, 80, 1) 43%,
    rgba(12, 35, 55, 1) 100%
  );
  color: white;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s 0.2s;
}

.card-item:hover {
  transform: translateY(-1rem);
}

.card-img {
  height: 35%;
  width: 100%;
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
  transition: transform 0.5s;
}

.card-img:hover {
  transform: scale(1.2);
}

.card-icon {
  width: 70px;
}

.website-link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  width: 100%;
  height: 2rem;
}

.website-link:hover {
  background-color: white;
  color: #0a2239;
  
}

.btn-frontend {
  display: flex;
  margin: 0 auto;
  background-color: rgb(34, 58, 80);
  color: white;
  margin-bottom: 2rem;
}

@media only screen and (max-width: 768px) {
  .card-container {
    grid-template-columns: auto auto;
    margin: 2rem;
    grid-gap: 2rem;

  }

  .card-img {
    height: 30%;
  }
}

@media only screen and (max-width: 550px) {
  .card-container {
    grid-template-columns: auto;
    margin: 2rem;
    grid-gap: 2rem;

  }

  .card-img {
    height: 20%;
  }
}
